
    <div class="ab-test">
      <div class="my_corner previous-test"></div>
      <div class="idea-statement current-test">

      </div>
      <div class="my_corner " hidden></div>
      <div class="clear-both"></div>
    </div>