  <% allfield = Allfield.find(description.allfield_id) %>
  <h2> <%= allfield.field_name %>  </h2>
  <h3>
  	<% if allfield.view_flag == 1 %>
  	  (Open information)
  	<% end %>
    <% if allfield.view_flag == 2 %>
       (Information restricted for registered users)
    <% end %>
    <% if allfield.view_flag == 3 %>
       (Information, necessary for a fundraising campaign / Restricted for registered users only)
    <% end %>
  </h3>
  <p> <%= simple_format h description.content %> </p>
  <%= link_to 'Edit', edit_companydescription_path(description) %> | 
  <%= link_to 'Delete', description, method: :delete, data: { confirm: 'Are you sure?' } %>  