%html
  %head

  %body{:style => 'text-align:center; width:600px'}
    = image_tag 'http://s3.amazonaws.com/CAPITALROUNDBETA/startups/avatars/000/000/043/original/email_logo.png', :style => "width:600px"

    %h1 Welcome to ideaHatcher
    %h2{:style => "color:#fbb03b"} Thanks for signing up!

    %p{:style => "margin:40px 0"}
      ideaHatcher is the best place to give and get feedback on the next great
      startup ideas. We make it easy to iterate on your ideas quickly and get
      valuable feedback from a large, like-minded community.

    %a{:href => "http://www.ideahatcher.co/",
                  :style => "color:white;text-decoration:none;background-color: #94d500;font-size:14px;margin:40px 0;padding:10px 10px;font-weight: lighter;box-shadow: 5px 5px 0px #888888"}
      Start your first idea!

    %p{:style => "margin:40px 0"}
      ideaHatcher is also a great place to browse the ideas of others and give
      them feedback. There are hundreds of ideas on our platform, so start
      helping others hatch their ideas today!

    %a{:href => "http://www.ideahatcher.co/startups/index",
                  :style => "color:white;text-decoration:none;background-color: #94d500;font-size:14px;padding:10px 10px;font-weight: lighter;box-shadow: 5px 5px 0px #888888"}
      Browse ideas!

    %hr{:style => "margin-top:40px"}

    %p{:style => 'text-align:left'}
      You’re receiving this email because you previously signed up for ideaHatcher and we know you have
      awesome ideas to share with the world!