%table.business_model_table
%table.business_model_table
  %tr
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"} Features and functionality
    %td
    %td
    %td
    %td
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"}  Pitch to investors
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"}  Networking/ promotions
    %td
    %td
  %tr
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.3)"} Ideate on solution
    %td
    %td
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"} Acquire/grow customers
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.2)"} Build product/ service
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"}  Go through an incubator
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"}  Reach out to investors
    %td
    %td
  %tr
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.2)"}  Conduct user research
    %td
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.5)"} Trends and statistics
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.2)"}  Google analytics, etc.
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"}  Product dev. roadmap
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"}  Reach out to mentors
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"}  Reach out to mentors
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"}  Define pricing model
    %td
  %tr
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"} Create list of assumptions
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Market research
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"} Conferences and event
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Social media engagement
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.3)"} Test with users
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.5)"} Put together team
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Make partnerships
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Value based pricing
    %td
  %tr
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.4)"} Research competition
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.4)"} Target audience
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Observe customers
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} User experience
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.5)"} Mockups / Lo-fi prototypes
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"} Find relevant APIs, etc.
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.1)"} Reach out to partners
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Competitive pricing
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Create fin. model
  %tr
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.5)"} Define Problem
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.5)"} Stakeholders map
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.3)"} Competitive analysis
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.3)"} Branding strategy
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.4)"} Define product components
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Product dev. roadmap
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Outsourcing options
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.4)"} Revenue model
    %td
      .back
      .text{:style => "background-color :rgba(148, 213, 0, 0.0)"} Most important cost
  %tr
    %th{:style => "border-top: 1px black solid;"} Value proposition
    %th{:style => "border-top: 1px black solid;"} Customer segments
    %th{:style => "border-top: 1px black solid;"} Channels
    %th{:style => "border-top: 1px black solid;"} Customer relationship
    %th{:style => "border-top: 1px black solid;"} Key Activities
    %th{:style => "border-top: 1px black solid;"} Key Resources
    %th{:style => "border-top: 1px black solid;"} Key Partners
    %th{:style => "border-top: 1px black solid;"} Revenue Streams
    %th{:style => "border-top: 1px black solid;"} Cost structure
