-if picture_counter == 1
	.item.active
-else 
	.item
		= image_tag 'http://blacksportsonline.com/home/wp-content/uploads/2013/08/Tampa_Bay_Buccaneers.jpg'
		.carousel-caption
			%p #{picture.description}
