<%= render 'users/usernav' %>

<div class="container-ideas">
  <div class="container">
    <%= link_to :action => "vote_next" do %>
        <h5 class="side-link" id="next-link"
            onMouseMove="MM_changeProp('next-link','','backgroundColor','lightgrey','DIV')"
            onMouseOut="MM_changeProp('next-link','','backgroundColor','white','DIV')">
          Lightning mode
        </h5>
    <% end %>

    <%= render :partial =>  "startup", :collection => @startups %>
    <div style="clear:both"></div>

    <div class="container">
      <%= render :partial => "startup_no_campaign", :collection => @startups_no_capmaign %>
    </div>
  </div>
</div>

