<%= render 'users/usernav' %>

<div class="container-ideas">
  <div class="container">
    <%= render :partial =>  "startup", :collection => @startups %>

    <div style="clear:both"></div>

    <div class="container">
      <!--<h1 class="brand">Idle Campaigns</h1>-->
      <!--<hr/>-->
      <%= render :partial => "startup_no_campaign", :collection => @startups_no_capmaign %>
    </div>
  </div>
</div>

<div id="modal_like" class="modal hide fade vote_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Please rate each aspect of the business</h4>
  </div>
  <div id="modal-body-like" class="modal-body">
    <h5>a</h5>
    <p>b</p>
    <p>c</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" >Continue</button>
  </div>
</div>

<div id="modal_not_clear" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header" style="background-color:grey; color:white">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4>Please select what is not clear about this company</h4>
  </div>
  <div id="modal-body-not-clear">
    <table class="table table-hover check-table">
      <tr id="problem_customer_project1" onclick="checkProblem('customer_project1')">
        <th>Problem / Customers / Market</th>
        <td><input id="check_customer_project1" type="checkbox" value="1" /></td>
      </tr>
      <tr id="problem_product_project1" onclick="checkProblem('product_project1')">
        <th>Solution / Product</th>
        <td><input id="check_product_project1" type="checkbox" value="1" /></td>
      </tr>
      <tr id="problem_revenue_project1" onclick="checkProblem('revenue_project1')">
        <th>Revenue model</th>
        <td><input id="check_revenue_project1" type="checkbox" value="1" /></td>
      </tr>
      <tr id="problem_marketing_project1" onclick="checkProblem('marketing_project1')">
        <th>Marketing / Entering strategy</th>
        <td><input id="check_marketing_project1" type="checkbox" value="1" /></td>
      </tr>
      <tr id="problem_competition_project1" onclick="checkProblem('competition_project1')">
        <th>Competition / Positioning</th>
        <td><input id="check_competition_project1" type="checkbox" value="1" /></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" style="color:orange">Submit</button>
  </div>
</div>