<%= render 'users/usernav' %>

<div class="container-ideas">
  <div class="container">
    <%= render :partial =>  "startup", :collection => @startups %>

    <div style="clear:both"></div>

    <div class="container">
      <!--<h1 class="brand">Idle Campaigns</h1>-->
      <!--<hr/>-->
      <%= render :partial => "startup_no_campaign", :collection => @startups_no_capmaign %>
    </div>
  </div>
</div>
