<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
        <h5>Sign up</h5>
        <p>Please fill out the following form</p>

        <%= render 'form' %>

    </div>
  <div class="clear-both"></div>
  </div>
</div>