<div class="left-nav">


  <% if session[:id] and session[:id] != 0 %>
      <ul>

        <% if params[:action] == "index" %>
            <li>Get started <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%=  link_to 'Get started', {:controller => "users", :action => "index", :id => session[:id] }%></li>
        <% end %>

        <% if params[:action] == "notifications" %>
            <li>Notifications <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%=  link_to 'Notifications', {:controller => "users", :action => "notifications", :id => session[:id] }%></li>
        <% end %>

        <% if params[:action] == "edit" %>
            <li>My profile<i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%= link_to 'My profile', {:controller => "users", :action => "edit", :id => session[:id]}%></li>
        <% end %>

        <% if params[:action] == "change_password" %>
            <li>Password <i class="icon-play glyphw" style="float:right"></i></li>
        <% else %>
            <li><%= link_to 'Change password', {:controller => "users", :action => "change_password", :id => session[:id]}%></li>
        <% end %>


      </ul>

  <% else %>




  <% end %>

</div>
