<%= render 'usernav' %>

<div class="container-ideas">
  <div class="container">
    <h3>Your discussions <img src="/images/arrow.png" style="width: 20px"></h3>
    <%= render :partial => "ideas/idea", :collection => @ideas %>
  </div>
</div>
