.how-it-works
  .content-about{:style => "margin-top: 80px"}
    .about-div
      %img.about-img{:src => '/images/profile/Sergey.png'}
      %p Sergey Astretsov
    .about-div
      %img.about-img{:src =>'/images/profile/Alison.png'}
      %p.about-name Ali Servis
    .about-div
      %img.about-img{:src => '/images/profile/Luis.png'}
      %p.about-name Luis Gonzalez
    .about-div
      %img.about-img{:src => '/images/profile/Debra.png'}
      %p.about-name Debra Gladwin
    .clear-both
  .content-about
    %h5 Why we do this
    %p
      When we joined forces, coming from different backgrounds and interests, we had one thing in common:
      make it easier for people start companies and develop entrepreneurial environment everywhere
    %p
      While at Carnegie Mellon University we started to work together during an awesome entrepreneurship class.
      The experience of brainstorming and collaboration, which we had there, should be available to everyone. We decided
      to dedicate our efforts to create a platform where entrepreneurs and enthusiasts are working together to
      bring new ideas to live!
    %hr
    %p Special Thanks to Matt Moench, Arpita Shrivastava, Siddharth Subramanian and Fangming Lu!
    %hr
    %p
      Contact us at
      %a{:href => "mailto:team@ideahatcher.co"}team@ideahatcher.co


