<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class=company-content>
        <div class="company-box">

          <div class="about-div">
            <img src='/images/profile/Sergey.jpg'/>
            <p> Sergey Astretsov </p>
          </div>

          <div class="about-div">
            <img src='/images/profile/Alison.jpg' class="about-img"/>
            <p> Ali Servis</p>
          </div>

          <div class="about-div">
            <img src='/images/profile/Luis.png' class="about-img"/>
            <p class="about-name"> Luis Gonzalez</p>
          </div>

          <div class="about-div">
            <img src='/images/profile/Debra.jpg' class="about-img"/>
            <p class="about-name"> Debra Gladwin</p>
          </div>

          <div class="clear-both"></div>

        </div>

        <div class="company-box">
          <h5> Why we do this </h5>
          <p>
            When we joined forces, coming from different backgrounds and interests, we had one thing in common:
            make it easier for people start companies and develop entrepreneurial environment everywhere
          </p>
          <p>
            While at Carnegie Mellon University we started to work together during an awesome entrepreneurship class.
            The experience of brainstorming and collaboration, which we had there, should be available to everyone. We decided
            to dedicate our efforts to create a platform where entrepreneurs and enthusiasts are working together to
            bring new ideas to live!
          </p>

          <hr/>

          <p>Special Thanks to Matt Moench, Arpita Shrivastava, Siddharth Subramanian and Fangming Lu!</p>
        </div>
      </div>
      <div class="company-box" style="padding-top:20px;">
        <p>Contact us at <a href="mailto:team@ideahatcher.co">team@ideahatcher.co</a></p>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
</div>