<h2> Our team </h2>

<div style="float:left; padding-right:20px" >
  <img src='/images/profile/Sergey.jpg' class="img-rounded-mid"/>
</div>
<h3> Sergey Astretsov </h3>
<p> Idea generator </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left;  padding-right:20px" >
  <img src='/images/profile/Matt.jpg' class="img-rounded-mid"/>
</div>
<h3> Matt Moench</h3>
<p> Solution Composer </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left;  padding-right:20px" >
  <img src='/images/profile/Luis.jpg' class="img-rounded-mid"/>
</div>
<h3> Luis Gonzalez</h3>
<p> Foreseeing Designer </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left;  padding-right:20px" >
  <img src='/images/profile/Fangming.jpg' class="img-rounded-mid"/>
</div>
<h3> Fangming Lu </h3>
<p> Rockstar Designer </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left;  padding-right:20px">
  <img src='/images/profile/Arpita.jpg' class="img-rounded-mid"/>
</div>
<h3> Arpita Shrivastava </h3>
<p> "Let's just do it!" </p>
<div style="clear:both"></div>

<hr/>

<div style="float:left;  padding-right:20px" >
  <img src='/images/profile/Siddharth.jpg' class="img-rounded-mid"/>
</div>
<h3> Siddharth Subramanian </h3>
<p> Big planner </p>
<div style="clear:both;  padding-right:20px"></div>

<h2> How it works</h2>

<p> Capital Round is a platform where you can invest in startups exchanging small amounts of
    money (starting at $100) for equity: make meaningful investments in exciting early-stage companies.</p>
<p> The platform is designed for university communities. Startups and spin-offs from a university can
    start fundraising campaigns and raise money from alumni. Just browse startups from your Alma Mater, pick
    those you like, and invest as much or as little as you want. We will take care of the rest.</p>
