<div class="container">

    <div class="singup-right">
      <h4>Sign up and get started:</h4>
      <%= render 'authentications/homeform' %>
    </div>

    <%= link_to(:controller => "home") do  %>
        <img src="/images/logo_capitalround.png" style="width: 300px;margin-top:20px;">
    <% end %>

    <div class="home-message">
        <h3> Validate and get insightful feedback on you business idea </h3>
        <hr />
        <h3> Help other entrepreneurs start businesses </h3>
    </div>
</div>

<div class="container-ideas">
    <div class="container">
       <h3>Popular discussions <img src="/images/arrow.png" style="width: 20px"></h3>

        <%= render :partial =>  @ideas, :template=>'ideas/_idea' %>
    </div>
</div>
