mainDiv = document.getElementById("info_1");

divString = "";

<% @user_infos.each do |user_info| %>
    divString = divString + "<span class='hashtags1'> <%= user_info.category_type %></span>  <%= user_info.content %><br>";
<% end %>

mainDiv.innerHTML = divString;