<%= link_to({:controller => "investors",
             :action => "follower_info",
             :id => people.id,
             :action_type => action_type},
            :remote => true) do %>
    <div class="person-info">
        <% if  people.avatar? %>
            <img src='<%= people.avatar.url(:square) %>' >
        <% else %>
            <img src='/images/profile/Nophoto.png'>
        <% end %>
        <h5><%= people.firstname %>  <%= people.lastname %></h5>
        <div class="clear-both"></div>
    </div>
<% end %>
