<div class = "person-info">
    <% if person.avatar? %>
        <%= image_tag person.avatar.url(:square) %>
    <% else %>
        <%= image_tag "/images/profile/Nophoto.png" %>
    <% end %>
    <h5><%= person.firstname %>  <%= person.lastname %></h5>
    <% case status %>
        <% when 1 %>
          <p>Founder</p>
        <% when 2 %>
          <p>Awaiting conformation</p>
        <% else %>
          <p>Follower</p>
    <% end %>
</div>

