<%= render 'users/usernav' %>

<div class="container-ideas">
  <div class="container">
    <div class="left-company">
      <%= render 'startups/info' %>
      <div class="highlighted-company">
        <%= render 'form' %>
      </div>
    </div>

    <div class="right-company">
      <%= render 'startups/actions' %>
    </div>
  </div>
</div>

