= render :partial => 'startups/dashboard_nav'

.new-view-content
  = render "nav"

  .campaign-box
    %h5 Guidelines
    %p
      ideaHatcher is a online incubator. Here you can share your ideas with the community, get feedback and
      advice on how build a successful business from them! These guidelines explains our focus. Companies violating
      these guidelines will not be able to use ideaHatcher.
    %ol
      %li
        %h4 The idea must be originated by you
        %p
          Submit an idea to ideaHatcher that was originated and is owned by you. We want to help you succeed as
          entrepreneurs, create new businesses and solve real world problems. If you are using a third party
          technology/research make sure to mention that.
      %li
        %h4 You are in control of who has access to your idea
        %p
          You can limit the access to your idea to a group of people or you can share it to everyone on the
          platform. Remember, the more your share the more feedback and advice you get.
      %li
        %h4 Prohibit use of content
        %p{ :onclick => 'changeStatus(this)'}
          No campaigns to fund a scholarship, pay tuition, bills or expenses. There are some things that we
          just don't allow on ideaHatcher.

      .check-box
        = form_tag(:action => 'next_step', :multipart => true) do
          = check_box_tag 'accept-check', 'yes', false, :onclick => 'changeStatus(this)'
          %button{:id => "next-step", :class => "btn btn-warning", :disabled => "true", :style => "float:right" } Next
          %p{:style => "padding:10px 40px 0 40px;"} I understand that in order to use ideaHatcher I must meet these Guidelines.
        .clear-both

:javascript
  function changeStatus(elementNode) {
    if (elementNode.checked == true) {
        document.getElementById('next-step').disabled = false;
    }
    else {
        document.getElementById('next-step').disabled = true;
    }
  }
