<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="active"><a href="#">1. Guidelines</a></li>
      <li><a >2. Basic</a></li>
      <li><a >3. About company</a></li>
      <li><a >4. Team</a></li>
      <li><a >5. Account</a></li>
      <li><a >6. Review</a></li>
      <% if session[:startup_id] != nil %>
      <li class="active" style="margin-left:100px">
        <%= link_to :controller => "startups", :action => "show", :id => session[:startup_id] do %>
            <%=  @startup.name %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
        <div class="company-box">
            <h5>Guidelines</h5>
            <p>ideaHatcher is a online incubator. Here you can share your ideas with the community, get feedback and advice on
              how build a successful business from them!
              This guidelines explains our focus. Companies violating these guidelines will not be able
              to use ideaHatcher.
            </p>
            <ol>
              <li>
                <h4>The idea must be originated by you</h4>
                <p>
                  ideaHatcher provides the platform only for those who own the ideas. We want to help you succeed as
                  entrepreneurs, create new businesses and solve real world problems. If you are using a third party
                  technology/research make sure to mention that.
                </p>
              </li>
              <li>
                <h4>You are in control who have access to your idea</h4>
                <p>
                  You can limit the access to your idea to certain circle of people and to make it public. Remember, the more
                  your share the more feedback and advice you get.
                </p>
              </li>
              <li>
                <h4>Prohibit use of content</h4>
                <p>
                  No campaigns to fund a scholarship, pay tuition, bills or expenses. There are some things that we just don't
                  allow on ideaHatcher.
                </p>
              </li>
            </ol>

            <div class="check-box">
                <%= form_tag(:action => 'next_step', :multipart => true) do %>
                  <div style="float:left;"><%=  check_box_tag 'accept-check', 'yes', false, :onclick => 'changeStatus()'%></div>
                  <div style="float:right">
                  <button id="next-step" class="btn btn-warning" disabled>Next <span style="padding-left:20px"> > </span></button>
                  </div>
                  <p style="padding:10px 40px 0 40px;">I understand that in order to use ideaHatcher I must meet this Guidelines.</p>
                <% end %>
            </div>
        </div>
    </div>
    <div class="clear-both"></div>
  </div>
</div>

<script  type="text/javascript">
    function changeStatus() {
        if (document.getElementById('accept-check').checked == true) {
            document.getElementById('next-step').disabled = false;
        }
        else {
            document.getElementById('next-step').disabled = true;
        }
    }
</script>