<div class="hatcher-container">
  <div class="company-main">
    <div class="company-left">
      <div class="company-box">
        <h4>Sorry, by the photo was not uploaded. You can try again...</h4>
        <a onclick="window.history.back();" style="cursor:pointer">Go back</a>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
</div>