@font-face {
  font-family: 'MisoRegular';
  src: url('/assets/miso_regular_macroman/miso-regular-webfont.eot');
  src: url('/assets/miso_regular_macroman/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('/assets/miso_regular_macroman/miso-regular-webfont.woff') format('woff'),
      url('/assets/miso_regular_macroman/miso-regular-webfont.ttf') format('truetype'),
      url('/assets/miso_regular_macroman/miso-regular-webfont.svg#MisoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MisoRegular';
  src: url('/assets/miso_bold_macroman/miso-bold-webfont.eot');
  src: url('/assets/miso_bold_macroman/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/miso_bold_macroman/miso-bold-webfont.woff') format('woff'),
  url('/assets/miso_bold_macroman/miso-bold-webfont.ttf') format('truetype'),
  url('/assets/miso_bold_macroman/miso-bold-webfont.svg#MisoRegular') format('svg');
  font-weight: bold;
  font-style: normal;
}


// ----------------------- General ---------------------

.clear-both {
  clear:both;
}

.glyphw{
  background-image: url(/assets/glyphicons-halflings.png);
  margin:0 5px;
}
.glyphw-white{
  background-image: url(/assets/glyphicons-halflings-white.png);
}

html{ height:100%;}

body {
  height:100%;
  min-width: 600px;
  font-family: 'Open Sans', Arial, sans-serif;
}

// ------------------------------------ Layout ---------------------------------------


.login-modal {
  width: 700px;
  margin-left:-350px;
  .modal-left{
    float:left;
    width:320px;
    border-right:1px #bebebe solid;
    margin-top:40px;
    padding:40px 0;
  }
  .modal-right{
    float:right;
    width:340px;
    border-left:0px #bebebe solid;
  }
  form {
    margin-left:20px;
    input{
      maring:0;
    }
    p {
      font-size: 12px;
      line-height: 16px;
      margin:0 0 0 20px;
    }
    .btn {
      margin:10px 40px 0 0;
      float:right;
    }
  }
}



.hatcher-nav {
  height: 40px;
  background-color: #07b5b5;
  min-width: 880px;


  .logo-img {
    padding:2px 35px;
    float:left;
    img {height:35px;}
  }

  .login-nav {
    form {
      width:500px;
      input { width:150px; height:16px;}
    }
    line-height:12px;
    float:right;
    margin:0;
    font-size: 12px;
    p {
      margin:2px;
      color:white;
    }
    .login-input {
      float:left;
      margin:5px 5px -5px 5px;
      color: #c2c2c2;
    }
  }

  .user-nav {
    line-height:12px;
    float:right;
    margin:-10px 20px 0 0;
    font-size: 14px;

    .dropdown-toggle .notifications {
      -webkit-border-radius: 10px;
      margin:-30px -20px 30px 20px;
      border:0px white solid;
      width:15px;
      height:13px;
      padding:1px 0;
      font-size:10px;
      text-align: center;
      background-color: red;
      color: white;
    }

    .custom-dropdown-menu {
      margin:0px;
      margin-top:2px;
    }

    .dropdown-menu .notifications {
      -webkit-border-radius: 10px;
      margin:-30px -20px 30px 5px;
      padding:2px 15px;
      font-weight: normal;
      text-align: center;
      background-color: grey;
      color: white;
    }

    .custom-dropdown a {
      height: 12px;
      color:white;
    }

    .custom-dropdown ul a {
      height: 12px;
      color:black;
      padding:5px 20px 10px 20px;
    }

    .custom-dropdown a:hover, a:active, a:focus {color: #313131;}
    .custom-dropdown ul a:hover, a:active, a:focus {color: white;}


    img {
      margin-top:-7px;
      padding:0;
      height: 25px;
    }

  }

}


.footer {
  background-color:#e3e3e3;
  font-size:12px;
  color: #696969;
  min-height: 40px;
  padding-top:20px;
  margin:0px 0;
  text-align: center;
  min-width: 880px;
}



.hatcher-container {
  margin:0 0 0 161px;
  padding:0;
  min-width: 700px;
  max-width: 70%;
  min-height: calc(100% - 101px);
}




// ------------------------------ Other ------------------------------------

h2.project{
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #55A4F2;
  text-rendering: optimizelegibility;
  padding: 00px;
  margin-top:0;
  text-decoration: none;
}


// ------------------------------- Home Page ---------------------------------------


.home-signup {
  position: absolute;
  top:80px;
  right:100px;
  z-index:3;


  background-color: #d7d7d7;
  border:2px #bebebe solid;

  padding:0px 0px;
  width:280px;
  height:440px;



  form {
    h4 {border-bottom:2px #07b5b5 solid;padding-bottom: 10px;font-size: 14px;}
    margin:20px 30px 0 30px;
    line-height:16px;
    P{font-size: 12px;}
    .btn {
      float:right;
      font-family: 'Open Sans', Arial, sans-serif;
    }
  }

}

.demo-startup {
  background-repeat:no-repeat;
  background-position:center;
  width:20%;
  height: 250px;
  margin:0;
  margin-top: -1px;
  float:left;
  padding:0;

  .demo-grad {
    position: relative;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index:1;

    opacity:0.9;
    filter:alpha(opacity=90);

  }
  .demo-text {
    position: relative;
    cursor: pointer;

    width: 90%;
    height:40%;
    top:-125px;
    left:10%;
    z-index:2;
    h2{
      padding:0% 5%;
      margin:0;
      color:white;
      //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size:20px;
    }
    p {
      font-family: 'Open Sans', Arial, sans-serif;
      margin:0;
      padding:0 5%;
      color:white;
      //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size:12px;
      line-height: 16px;
      //font-weight: bold;
    }
  }
}

.how-it-works {
  border-top:1px #c8c8c8 solid;
  min-width: 880px;
  width: 100%;

  h2 {
    color: #07b5b5;
    text-align: center;
    padding:20px 0 20px 0;
  }

  p {
    font-size: 20px;
    line-height: 40px;
    padding-top:40px;
  }

  img {height: 200px;}

  .content-white {
    padding:10px 0%;
    height: 190px;
    width: 100%;
  }
  .content-grey {
    padding:10px 0%;
    background-color: #f2f2f2;
    width: 100%;
  }

  .right-side {
    padding-left:0;
  }

  .left-side {
    float:left;
    width: 45%;
    padding-right:10%;
    text-align: right;

  }
}

// -----------------------------------Ideas Page--------------------------------------


.idea {
  border:1px #c8c8c8 solid;
  background-color: white;
  width:100%;
  margin:20px 0;
  padding:10px 20px;
  .idea-content {
    width:100%;
    .idea-text {min-height: 95px;}
    .comment {
      min-height: 15px;
      .author {font-style:italic;text-align:right}
    }
    h5 {
      color:orange;
      margin:0px ;
      margin-bottom:10px ;

    }
    p {
      line-height: 16px;
      font-size:12px;
      color: #464646;
      margin:0px ;
    }
    a {
      line-height: 16px;
      font-size:12px;
      margin:0px ;
    }
    textarea {
      width:650px;
      height: 100px;
      font-size:12px;
      line-height: 16px;
    }
  }

  .startup-content {
    img {
      width: 120px;
    }
    padding-left:10px;
    margin-left: 20px;
    float:right;
    border-left:1px grey solid;
    width:100px;
    h5 {
      margin:10px 0;
      color: #07b5b5;
      line-height: 16px;
      font-size:16px;
      text-align: right;
      font-weight:normal;
    }
  }
}

.author {font-style:italic;text-align:right}



// --------------------------------- Company page ------------------------------------


.company-main {
  border:0px #c8c8c8 solid;
  margin:0 10px;
  padding:10px;
  width:100%;

  .button-next {
    width:250px;
    height: 200px;
    float:left;
    border:2px #bebebe solid;
    //background-color: #eeeeee;
    margin: 20px 30px;
    p {
      font-size:20px;
      padding: 20% 0 0 0;
      margin:0;
      text-align: center;
    }
    img {
      height: 70px;
      margin: 20px 65px;
      border:1px #bebebe solid;
    }
  }

  .more-startups {
    color: #07b5b5;
    float:right;
    font-size:12px;
    margin:10px 60px 0 0;
  }

  textarea {
    width:85%;
    height: 80px;
  }

  h1 {
    padding-left:10px;
    color:orange;
    font-size:24px;
    font-weight: normal;
    margin-top: -0PX;
    padding-top: 0;
  }

  .show-more {
    width:100%;
    margin-left:30%;
    text-align: center;
    font-size:14px;
    font-weight: normal;
    margin-top: -0px;
    padding-top: 0;
    i{margin:3px 5px;}
  }



  .company-left {
    float:left;
    padding-left: 10px;
    padding-top:10px;
    width: 70%;

    .company-box {
      width: 100%;
      .person-info {
        float:left;
        margin: 10px 0;
      }

      .check-box {
        background-color: #e3e3e3;
        border:1px #c8c8c8 solid;
        padding:10px;
        margin:10px 0;
        p {color:#07b5b5;};
      }

      h5, a {
        color:#07b5b5;
      }
      h4{margin-bottom: 5px;}
      textarea {
        width:calc(100% - 10px);
        height: 80px;
      }



    }
    //.company-nav {
    //  height: 16px;
    //
    //  margin:0;
    //}
    .company-content {
      .company-box {
        border-bottom:1px #07b5b5 solid;
        //width: 556px;
      }
    }

    .main-logo {

      width:100%;
      border:0px #07b5b5 solid;
    }
    .main-name {
      float:right;
      background-color: #333333;
      color:white;
      opacity:0.90;
      filter:alpha(opacity=90);
      padding:5px 20px;
      margin-right: -0px;
      margin-top:-100px;
      input {
        margin-top:-7px;
        margin-bottom:0px;
      }
      i {
        padding:0 0 1px 2px;
        margin-top: 20px;
        margin-bottom: 0;
        border-bottom:1px white dashed;
        cursor:pointer;
      }

      .btn {margin-top:-5px;}
    }

    .hashtag_form {
      input { margin:0;}

    }


    .hashtag {
      display:inline;
      margin: 0 5px;
      padding:4px;
      background-color: white;
      border:1px #c8c8c8 solid;
      line-height: 32px;
      .delete-tag {
        background-color: #e5e5e5;
        margin:0 0 0 4px;
        padding:2px 6px;
        font-size:16px;
        line-height: 12px;
        font-weight: normal;
        cursor:pointer;
      }
    }

    [type=radio] {margin:0 10px;}

    .people-to-add {
      width: 180px;
      float:left;
    }

    .people-added {
      border-left:2px #c8c8c8 solid;
      float:right;
      padding-left: 10px;
      width: 360px;
    }

    .action-box {
      float:right;
      width:30%;
    }


    .slider-bar, .new-box {
      background-color: #f1f1f1;
      border:1px #c8c8c8 solid;
      padding: 10px;
      margin:0 0 5px 0;
      color:#07b5b5;

      p {
        min-height:00px ;
        width: 100%;
        margin:0;
      }

      a {
        padding:0 5px;
        color:white;
        float:right;
      }

      .progress-slider{
        padding: 0;
        margin:0% 4% 3% 4%;
        cursor:pointer;
      }

      .bar{
        width:0%;
        cursor:pointer;
        background-color: orange;
        background-image: linear-gradient(orange, #e99600);;
      }

      .slider-start{
        float:left;
        margin:0px;
        padding:0;


      }
      .slider-info{
        margin:0px;
        padding:0;
        color:orange;
        line-height: 10px;
      }
      .slider-end{
        float:right;
        margin:0px 0 0 0 ;
      }
    }


    .new-box {border:0px #c8c8c8 solid; background-color: inherit;}


  }


  .edit-button {
    i {
      padding:0 0 1px 2px;
      margin-top: 2px;
      margin-bottom: 0;
      border-bottom:1px #696969 dashed;
      cursor:pointer;
    }
  }

  .edit-description {
    i {
      padding:0 0 1px 2px;
      margin-bottom: 0;
      border-bottom:1px #696969 dashed;
      cursor:pointer;
    }
  }

  .company-right {
    float:right;
    padding-top:10px;
    width: 25%;
    .btn-warning {
      margin-left: 19.5%;
      width: 50%;
      font-size: 16px;
    }
    .company-info {
      margin:20px 0;
      padding:0 10px;
      border:2px #c8c8c8 solid;
      .bottom-link {
        font-size: 12px;;
        margin-left: 00px;
      }
    }

  }
}

// ---------------------------------- A/B testing -----------------------------------


.ab-test{
  padding:0px;


  input{
    margin-left: 35px;
    margin-right: -5px;
    width: 40%;
  }

  .idea-statement{
    background-color:#07b5b5;
    padding:10px;
    -webkit-border-radius: 5px;
    line-height: 20px;
    font-size:12px;
    width:37%;
    border:3px white solid;
    color:white;
    height: 130px;
    float:left;
    textarea {
      width:320px;
      height:100px;
      margin:-5px 0 5px -5px;
      line-height: 18px;
      font-size:12px;
    }
    .btn-primary {
      position: relative;
      bottom:0px;
      float: right;
      width:80px;
      -webkit-border-radius:  0 0 5px 5px;
      border:0px white solid;
    }
    .edit-text {
      -webkit-border-radius:  5px;

    }

    p {min-height: 110px;}
    form {min-height: 120px;}

    .approval_status{
      border-top:1px white solid;
      min-height: 0;
    }


  }

  .my_corner {
    position: relative;
    margin:20px 7px;
    width: 0px;
    height: 70px;
    padding: 10px;
    background-color: #ffd486;
    float: left;
  }

  .my_corner .tl, .my_corner .tr,
  .my_corner .bl, .my_corner .br {
    width: 0;
    height: 0;
    position: absolute;
  }


  .my_corner .tr {
    top: 0;
    right: 0;
    border-top: 50px solid white;
    border-left: 20px solid transparent;
  }

  .my_corner .br {
    bottom: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid transparent;
  }



}




// ----------------------------------- Navigation ------------------------------------

.guideline-menu  {
  position:absolute;
  right:0;
  width:15px;
  top:70px;
  z-index:10;
  cursor: pointer;

  background-color: #f7f7f7;
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding:0 20px;

  i {
    margin:13px 5px 13px 0;
  }
}


.left-nav {
  position: absolute;
  top:60px;
  left:0;
  background-color: #f7f7f7;
  min-height: calc(100%-60px);
  width: 120px;
  border-top: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  padding: 40px 20px;
  img {
    margin:0 0 20px 8px;
    width: 100px;
    cursor: pointer;
  }
  input {
    width:100px;
    font-size: 12px;
    height: 16px;
    margin-bottom:20px;
  }
  ul {
    list-style-type: none;
    margin:0;
    font-size: 12px;
    li {padding:0 5px;}
    .cat-name {
      color: orange;
      border-top:1px solid #adadad;
      border-bottom:1px solid #adadad;

    }

  }

}

// --------------------------------- Startup Page ------------------------------------

.startup-frame{
  float:left;
  border:2px #c8c8c8 solid;
  background-color: white;
  padding:0px;
  width: 200px;
  margin:0 10px 20px 10px;
  img {
    margin:0px;
    -webkit-border-radius: 0px;
    width: 200px;
    height:100px;

  }
  h2 {
      font-size: 16px;
      line-height: 16px;
      float:right;
      background-color: #333333;
      color:white;
      opacity:0.90;
      filter:alpha(opacity=90);
      padding:6px 10px;
      margin: -40px 0 00px 0;
  }

  input { width: 70px; margin:0 3px; float: left;}
  p {
    color: black;

  }
  .p-content{
    height: 100px;
    padding:10px 10px;
  }
  .hashtag {
    color: #acacac;
    padding:0 10px;
  }
  .vote-stat {
    background-color:#07b5b5;
    color:white;
    text-align: center;
    height: 20px;
    margin:0;
    padding-top:4px;
  }
}
// --------------------------------- Lightning Vote ----------------------------------

.class0 {
  width: 560px; height: 760px;
  margin: 40px 0 0 40px;
  z-index:0;
  position: relative;

}
.class1 {
  width: 600px; height: 800px;
  margin: -790px 0 0 100px;
  z-index:2;
  position: relative;

}
.class2 {
  width: 560px; height: 760px;
  margin: -780px 0 30px 200px;
  z-index:1;
  position: relative;


}

.vote-frame {
  border:2px #c8c8c8 solid;
  background-color: white;


  .vote-name {
    margin:1% 5% 0px 5%;
    padding-bottom:1%;
    font-size: 28px;
    text-align: center;
    border-bottom:2px #07b5b5 solid;
  }
  .vote-summary {
    line-height: 16px;
    font-size: 16px;
    margin: 2% 5%;
  }
  .vote-img img {

    width: 90%;
    margin: 0px 5%;
    border:1px #c8c8c8 solid;
  }

  .vote-box {
    margin: 1% 5%;
    border-bottom:1px #07b5b5 solid;
    b {
      line-height:16px;
      padding:0px;
      font-size:16px;
      color:#07b5b5;
    }

    p, a {
      padding:0;
      width: 75%;
      font-size:12px;
      line-height:16px;
    }

    .description-p {
      height:70px;
    }
    .action-box {
      float:right;
      width:30%;
    }

    .slider-bar {
      background-color: #f1f1f1;
      border:1px #c8c8c8 solid;
      padding: 10px;
      margin:0 0 5px 0;
      color:#07b5b5;
      p {
        min-height:00px ;
        width: 100%;
        margin:0;
      }

      a {
        padding:0 5px;
        color:white;
        float:right;
      }

      .progress-slider{
        padding: 0;
        margin:0% 4% 3% 4%;
        cursor:pointer;
      }

      .bar{
        width:0%;
        cursor:pointer;
        background-color: orange;
        background-image: linear-gradient(orange, #e99600);;
      }

      .slider-start{
        float:left;
        margin:0px;
        padding:0;


      }
      .slider-info{
        margin:0px;
        padding:0;
        color:orange;
        line-height: 10px;
      }
      .slider-end{
        float:right;
        margin:0px 0 0 0 ;
      }
    }

    .vote-btn {
      float:right;

    }


  }


}


// ---------------------------- People --------------------



.person-info {
   width: 200px;
   cursor:pointer;
   img {
     height: 40px;
     width: 40px;
     float:left;
     margin-right: 20px;
   }
   h5{
     font-size:12px;
     height: 10px;
     padding-top: 0px;
     color: #07b5b5;
   }
   p{
     height: 20px;
     padding-top: 0px;
     color: black;
   }
 }

.person-circle {
  width: 170px;
  cursor:pointer;
  margin: 10px 0;
  float:left;
  img {
    height: 20px;
    width: 20px;
    float:left;
    margin-right: 10px;
  }
  h5{
    font-size:12px;
    height: 10px;
    margin-top:0;
    padding-top: 0px;
    color: #07b5b5;
  }
  p{
    height: 20px;
    padding-top: 0px;
    color: black;
  }
}

.modal-info {
 h3 {color: #07b5b5;}

 img {
   float:left;
   margin:0 10px 10px 0;
   width:100px;
 }

 p, a {
   font-size: 16px;
 }
}
