// ------------------------------- Old -------------------------

.sign-up {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width:600px;
  margin:0 auto;

  h4 {
    font-weight:normal;
    color:orange;
  }

  ol {
    font-weight:bold;
  }


  p {
    line-height:normal;
    font-size:14px;
    font-weight:normal;
  }

  .highlighted-list {
    background-color: #ecf8ff;
    margin:10px -20px 10px -60px;
    padding:2px 35px;
    color:#333333;


    input {
      width:530px;

      .small-input {
        width:200px;
      }

    }

    .input-prepend {
      input {
        width:200px;
      }
    }



    .text-here {
      padding:0 20px;
    }

    textarea{
      width:530px;
      height:105px;
    }

  }
}


// ----------------------------- Company page --------------------------

.highlighted-box {
  background-color:#ecf8ff;
  margin:0 -20px;
  padding:20px;
  color:#00008b;

  form {
    margin: 0 ;
  }
}

.highlighted-company {
  -webkit-border-radius: 5px;
  border:1px #c8c8c8 solid;
  background-color: white;
  margin:10px 0px;
  padding:5px 20px;

  form {
    margin: 0 ;
    textarea {
      width:600px;
      height:140px;
    }
  }

  p, b, a {
    line-height:16px;
    font-size:12px;
  }
  h5 {color:orange; }
}

.right-company{
  float:right;
  width:200px;
}

.campaign-info {
  -webkit-border-radius: 5px;
  border:1px #c8c8c8 solid;
  background-color: white;
  margin:0 0 10px 0;
  padding:20px;
  font-size:12px;
  line-height:24px;

}

.highlighted-box-company {
  margin:0 0 10px 0;
  padding:0px;
  color:#333333;
  width:660px;

  img {
    padding:0;
    margin:0;
    width:660px;
    height:330px;
    -webkit-border-radius: 5px;
    border:1px #c8c8c8 solid;
    background-color: white;
  }

  .company-name {
    background-color:white;
    color:orange;
    text-align:right;
    padding:5px 20px;
    float:right;
    position: relative;
    top: -80px;
    right: -1px;
    -webkit-border-radius: 5px 0 0 5px;
    min-width:300px;
    margin-bottom: -60px;
  }


}

.left-company {
  width:660px;
  float:left;
}

.box-company {
  margin:0 0 10px 0;
  padding:0px;
  color:#333333;
  width:600px;

  img {padding:0 20px;}

}


div.teaser{
  maring: 20px auto;
  width: 900px;
}

.error-message {
  color:red;
  border-color:red;
}

// ------------------------- Layout ---------------------------------------

#contacts-box {
  clear:both;
  border-top:1px #bebebe solid;
  text-align:center;
  width: 1105px;
  margin: 0 auto;

}

.container {
  margin:10px auto;
  width: 940px;
}

.login-modal {
  width: 700px;
  margin-left:-350px;
  .modal-left{
    float:left;
    width:320px;
    border-right:1px #bebebe solid;
    margin-top:40px;
    padding:40px 0;
  }
  .modal-right{
    float:right;
    width:340px;
    border-left:0px #bebebe solid;
  }
  form {
    margin-left:20px;
    input{
      maring:0;
    }
    p {
      font-size: 12px;
      line-height: 16px;
      margin:0 0 0 20px;
    }
    .btn {
      margin:10px 40px 0 0;
      float:right;
    }
  }
}


// ------------------------------ Other ------------------------------------

h2.project{
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: #55A4F2;
  text-rendering: optimizelegibility;
  padding: 00px;
  margin-top:0;
  text-decoration: none;
}


.description {
  height:85px;
  color: #595959;
  display: block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 0px;
}


.invest-field {
  width:260px;
  float:left;
  padding-left:40px;
  input {
    width:100px;
  }
}

// -------------------------- Home page (new) ---------------------------

.demo-startup {
  background-repeat:no-repeat;
  background-position:center;
  width:20%;
  height: 250px;
  margin:0;
  margin-top: -1px;
  float:left;
  font-family: "Open Sans", Open Sans, sans-serif;

  padding:0;
  .demo-grad {
    position: relative;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index:1;
    background-image: -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(0.17, white),
      color-stop(0.59, #07b5b5)
    );
    opacity:0.40;
    filter:alpha(opacity=40);

  }
  .demo-text {
    position: relative;

    width: 100%;
    top:-125px;
    left:0;
    z-index:2;
    h2{
      padding:0% 5%;
      margin:0;
      color:white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size:22px;
    }
    p {
      margin:0;
      padding:0 5%;
      color:white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size:12px;
      line-height: 16px;
    }
  }
}


// -------------------------- Home page (old) ---------------------------



.background-img {
  background:url('/images/Home_background.png') no-repeat center top;
  background-size: 100% 600px;
}


.home-nav {
  height: 55px;
  background-color: #e3e3e3;

  .logo-img {
    padding:10px 35px;
    float:left;
    img {height:30px;}
  }

  .login-nav {
    form {
      width:500px;
      input { width:150px; height:16px;}
    }
    font-family: "Open Sans", Open Sans, sans-serif;
    line-height:12px;
    float:right;
    margin:0;
    font-size: 12px;
    p {margin:2px}
    .login-input {
      float:left;
      margin:5px 5px -5px 5px;
    }
  }

  .user-nav {
    font-family: "Open Sans", Open Sans, sans-serif;
    line-height:12px;
    float:right;
    margin:-5px 100px 0 0;
    font-size: 12px;
    p {margin:2px}
    .login-input {
      float:left;
      margin:5px 5px 0 5px;
    }
    a {}

  }

}


.singup-right {
  -webkit-border-radius: 5px;
  background-color:white;
  float:right;
  margin:25px 0;
  padding:10px 30px;
  width:280px;
  height:390px;
  form {
    margin:20px 30px 0 30px;
    line-height:16px;
    font-size: 12px;

  }
}

.home-message{
  -webkit-border-radius: 5px;
  width:400px;
  margin:50px;
  padding:10px 30px;
  background-color:#696969;
  opacity:0.8;
  h3 {
    color:white;
    text-shadow:  2px 2px black;
  }
  hr { box-shadow:  1px 1px black;}
}

.footer {
  background-color:#e3e3e3;
  font-size:12px;
  color: #696969;
  min-height: 50px;
  padding-top:10px;
  margin:0;
  text-align: center;
}

.container-ideas {
  background-color: #f3f3f3;
  margin:0px auto;
  padding:10px 0;
  h3 {margin-top:0;}
}

// ----------------------------- Ideas Page ----------------------------

.idea {
  -webkit-border-radius: 5px;
  border:1px #c8c8c8 solid;
  background-color: white;
  margin:20px 0;
  padding:10px 20px;
  .idea-content {
    width:660px;
    .idea-text {min-height: 95px;}
    .comment {
      min-height: 15px;
      .author {font-style:italic;text-align:right}
    }
    h5 {
      color:orange;
      margin:0px ;
    }
    p {
      line-height: 16px;
      font-size:12px;
      color: #464646;
      margin:0px ;
    }
    a {
      line-height: 16px;
      font-size:12px;
      margin:0px ;
    }
    textarea {
      width:650px;
      height: 100px;
      font-size:12px;
      line-height: 16px;
    }
  }

  .startup-content {
    img {  -webkit-border-radius: 5px;}
    padding-left:10px;
    margin-left: 20px;
    float:right;
    border-left:2px white solid;
    width:200px;
    h5 {
      margin:10px 0;
      color: #464646;
      line-height: 16px;
      font-size:14px;
      font-weight:normal;
    }
    p {
      margin:0 0 0;
      color: #464646;
      line-height: 20px;
      font-size:12px;
    }
    .check-img {
      float:right;
      height:30px;
      margin-top:-5px;
    }
    tr {
      vertical-align: top;
      font-size:12px;
      color:#464646;
      height: 20px;
      margin:0;
      padding:0;
      line-height: 20px;
    }
    td {
      vertical-align: top;
      font-size:12px;
      color:#464646;
      height: 20px;
      margin:0;
      padding:0;
      line-height: 30px;
    }
    .td2 {
      text-align: right;
      vertical-align: top;
      width:300px;
      font-size:12px;
      color:#464646;
    }
  }
}

.author {font-style:italic;text-align:right}

// ----------------- A/B testing -------------------------------


.idea-test{
  padding-top:50px;
  input{
    margin-left:0px;
    width:300px;
  }

  .idea-statement{
    background-color:#b0c4de;
    padding:10px;
    -webkit-border-radius: 5px;
    line-height: 20px;
    font-size:12px;
    width:250px;
    border:3px white solid;
    color:white;
    height: 80px;
    margin-top:-25px;

  }

  .left-side{
   float: right;
   margin-top:-25px;
   input{
     margin-top:32px;
     margin-left:0px;
     width:270px;
   }
  }

  .my_corner {
    position: relative;
    margin:-40px 7px;
    width: 0px;
    height: 70px;
    padding: 10px;
    background-color: #ffd486;
    float: right;
  }

  .my_corner .tl, .my_corner .tr,
  .my_corner .bl, .my_corner .br {
    width: 0;
    height: 0;
    position: absolute;
  }


  .my_corner .tr {
    top: 0;
    right: 0;
    border-top: 50px solid white;
    border-left: 20px solid transparent;
  }

  .my_corner .br {
    bottom: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid transparent;
  }


}


.ab-test{
  padding:0px;


  input{
    margin-left:0px;
    width:300px;
  }

  .idea-statement{
    background-color:#b0c4de;
    padding:10px;
    -webkit-border-radius: 5px;
    line-height: 20px;
    font-size:12px;
    width:230px;
    border:3px white solid;
    color:white;
    height: 100px;
    float:left;
    textarea {
      width:225px;
      height:100px;
      margin:-5px 0 5px -5px;
      line-height: 18px;
      font-size:12px;
    }
    .btn-primary {
      position: relative;
      bottom:0px;
      float: right;
      width:80px;
      -webkit-border-radius:  0 0 5px 5px;
      border:0px white solid;
    }
    .edit-text {
      -webkit-border-radius:  5px;

    }
  }

  .my_corner {
    position: relative;
    margin:20px 7px;
    width: 0px;
    height: 70px;
    padding: 10px;
    background-color: #ffd486;
    float: left;
  }

  .my_corner .tl, .my_corner .tr,
  .my_corner .bl, .my_corner .br {
    width: 0;
    height: 0;
    position: absolute;
  }


  .my_corner .tr {
    top: 0;
    right: 0;
    border-top: 50px solid white;
    border-left: 20px solid transparent;
  }

  .my_corner .br {
    bottom: 0;
    right: 0;
    border-bottom: 50px solid white;
    border-left: 20px solid transparent;
  }



}

// ------------------------- Startup Index -----------------------

.startup-holder {
  height: 370px;
}


.startup-frame{
  float:left;
  border:2px #c8c8c8 solid;
  background-color: white;
  font-family: "Open Sans", Open Sans, sans-serif;
  padding:10px;
  width: 180px;
  margin:20px;
  img {
    margin:0 0 10px 0;
    -webkit-border-radius: 0px;
    border:1px #c8c8c8 solid;
  }
  h2 {
      font-size: 15px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
      color:black;
      text-rendering: optimizelegibility;
      padding-bottom:5px;
      padding-top:0px;
      margin-top:0;
      text-decoration: none;
      border-bottom:2px #07b5b5 solid;
  }
  input { width: 70px; margin:0 3px; float: left;}
  p {
    color: black;
    font-size: 12px;
    line-height: 16px;
  }
  .p-content{
    height: 100px;
  }
  .hashtag {
    color: #acacac;
  }
  .vote-stat {
    background-color:#07b5b5;
    color:white;
    text-align: center;
    height: 20px;
    margin:0 -10px -10px -10px;
    padding-top:4px;
  }
}

// ------------------------- Lightning Vote Page -----------------------

.class0 {
  width: 560px; height: 540px;
  position: absolute;
  top: 40px;
  left: 80px;
  z-index:0;
}
.class1 {
  width: 600px; height: 580px;
  position: relative;
  top: 0px;
  left: 170px;
  z-index:2;

}
.class2 {
  width: 560px; height: 540px;
  margin: 20px 0 0 0;
  position: absolute;
  top: 20px;
  left: 340px;
  z-index:1;
}

.vote-frame {
  border:2px #c8c8c8 solid;
  background-color: white;
  font-family: "Open Sans", Open Sans, sans-serif;

  .vote-name {
    margin:1% 5% 0px 5%;
    padding-bottom:1%;
    font-size: 28px;
    text-align: center;
    border-bottom:2px #07b5b5 solid;
  }
  .vote-summary {
    line-height: 16px;
    font-size: 12px;
    margin: 2% 5%;
  }
  .vote-img img {
    height: 10%;
    width: 90%;
    margin: 0px 5%;
    border:1px #c8c8c8 solid;
  }

  .vote-box {
    margin: 1% 5%;
    border-bottom:1px #07b5b5 solid;
    b {
      line-height:16px;
      padding:0px;
      font-size:14px;
      color:#07b5b5;
    }

    p, a {
      padding:0;
      width: 75%;
      font-size:11px;
      line-height:14px;
    }

    .description-p {
      height:70px;
    }

    .slider-bar {
      width:25%;
      float:right;
      padding: 0;
      margin:2% 0px 0 5%;
      display:inline;
      color:#07b5b5;
      p {
        min-height:00px ;
        width: 100%;
        margin:0;
      }

      a {
        padding:0px;
        color:#07b5b5;
        float:right;
        text-align: right;

      }

      .progress-slider{
        padding: 0;
        margin:0% 3% 1% 3%;
        cursor:pointer;
      }

      .bar{
        width:0%;
        cursor:pointer;
        background-color: orange;
        background-image: linear-gradient(orange, #e99600);;
      }

      .slider-start{
        float:left;
        margin:0px;
        padding:0;


      }
      .slider-info{
        margin:0px;
        padding:0;
        color:orange;
        line-height: 10px;
      }
      .slider-end{
        float:right;
        margin:0px 0 20% 0 ;
      }
    }

    .vote-btn {
      float:right;

    }


  }


}

.left-nav {
  float:left;
  min-height: calc(100%-60px);
  border-right: 1px solid grey;
  padding: 40px 20px;
  margin:20px 20px 20px 0px;
  img {
    margin:0 0 20px 8px;
    width: 100px;
    cursor: pointer;
  }
  input {
    width:100px;
    font-size: 12px;
    height: 16px;
  }
  ul {
    list-style-type: none;
    margin:0;
    font-size: 12px;
    .cat-name {
      color: orange;
      margin-top:20px;
    }

  }

}


// ----------------------- General ---------------------

.clear-both {
  clear:both;
}

html,body{ height:100%;}



// -------------------------- ideaHatcher layout ---------------------------

.hatcher-nav {
  height: 40px;
  background-color: #07b5b5;

  .logo-img {
    padding:2px 35px;
    float:left;
    img {height:35px;}
  }

  .login-nav {
    form {
      width:500px;
      input { width:150px; height:16px;}
    }
    font-family: "Open Sans", Open Sans, sans-serif;
    line-height:12px;
    float:right;
    margin:0;
    font-size: 12px;
    p {
      margin:2px;
      color:white;
    }
    .login-input {
      float:left;
      margin:5px 5px -5px 5px;
    }
  }

  .user-nav {
    font-family: "Open Sans", Open Sans, sans-serif;
    line-height:12px;
    float:right;
    margin:-5px 20px 0 0;
    font-size: 12px;

    p {margin:2px}
    .login-input {
      float:left;
      margin:5px 5px 0 5px;
      color: #c2c2c2;
    }
    a {
      height: 12px;
      color:white;
    }

    img {
      margin-top:-7px;
      padding:0;
      height: 25px;
    }

  }

}

.hatcher-container {
  margin:0px 0 0px 155px;
  padding:20px;
  position: relative;
  font-family: "Open Sans", Open Sans, sans-serif;
  min-width: 1000px;

  .more-startups {
    color: #07b5b5;
    float:right;
    font-size:12px;
    margin:20px 60px 0 0;
  }

  h1 {
    color:orange;
    font-size:28px;
    font-weight: normal;
  }

}

