.new-view-content {
  min-width:880px;
  min-height: -webkit-calc(100% - 112px);
  min-height: calc(100% - 112px);
  width:70%;
  margin:0px auto 0px auto;
  padding:50px 20px 0 20px;
  width: 65%;
  background-color: white;
  box-shadow: 0px 0px 10px #888, 0px 0px 10px #888;

  input {
    -webkit-border-radius: 0px;
  }
  span{margin-left: 20px;}

  .custom-button{
    background-color: #fee946;
    color:black;
    font-size:14px;
    padding:2px 10px;
    min-width: 100px;
    text-align: center;
    cursor:pointer;
    font-weight: lighter;
    border:0px #fee946 solid;
  }
}