.new-view-content {
  min-width:880px;
  min-height: -webkit-calc(100% - 60px);
  min-height: calc(100% - 60px);
  width:70%;
  margin:0px auto;
  margin-top: 60px;
  padding-top:00px;
}

th, td {
  min-width: 50px;
  text-align: left;
  padding:0 10px;
}