.user-content {
  min-width:720px;
  min-height: -webkit-calc(100% - 112px);
  width:70%;
  margin:0px auto 0px auto;
  padding:50px 20px 0 20px;
  width: 65%;
  background-color: white;
  border:1px #07b5b5 solid;
  box-shadow: 0px 0px 10px #888, 0px 0px 10px #888;

  .idea{
    box-shadow: 0px 0px 10px #888, 0px 0px 10px #888;
    .idea-startup{
      width: 25%;
      margin-right: 20px;
      float:left;
      border-right:1px #888 solid;
      h5{text-align: right;}
    }
    .idea-content{

    }
  }

  .profile-photo{
    margin-top: 20px;
    float:left;
    width:20%;
    img{
     width:120px;
     height:120px;
    }
  }

  .profile-info{
    margin-top: 20px;
    p{
      font-size:14px;
    }
    float:right;
    width:65%;
    border-left:1px #888 solid;
    padding:0 5%;
    input {
      width:50%;
      margin-bottom: 25px;
    }
    textarea{
      height: 120px;
      width:100%;
      resize: none;
    }
  }

}

