%span.content
  %span.hashtags1 #{user_info.category_type}
  #{user_info.content}
  %button.close.del_info.picture_control{ :type => "button", :id => "userinfo_id-#{user_info.id}", :'aria-hidden' => "true", :style => "float:right"} ×
  .clean-both
  %hr