document.getElementById("manual-selection").hidden=false;

var mainDiv = document.getElementById("current-circle");
mainDiv.innerHTML ="<h4>People you have added:</h4>";

<% if !@people || @people.length == 0 %>
mainDiv.innerHTML ="<h4>You have not added anyone yet</h4>";
<% end %>

<% @people.each do |person| %>
    var newDiv = document.createElement("div");
    newDiv.innerHTML = '<a href = "/investors/follower_info?id=<%= person.id %>&action_type=remove_circle" data-remote = "true">' +
            '<%= person.firstname%> <%=person.lastname%>';
    mainDiv.appendChild(newDiv);
<% end %>

